.header {
  line-height: 80px;
  height: auto;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  transition: 0.5s ease;
}

.logo span {
  color: #fff;
  font-size: 1.625rem;
  font-weight: bold;
}

.nav_item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-left: 30px;
  transition: 0.3s ease;
  position: relative;
}

.nav_item a:hover {
  color: #f5f5f5;
}

.nav_item a::before {
  content: "";
  position: absolute;
  background: #0662bec4;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  padding-top: 1px;
  transition: 0.3s ease;
}

.nav_item a:hover::before {
  width: 100%;
}

/* .nav_item a.active_link {
  color: rgba(215, 228, 249, 0.333);
} */

.sticky_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(51, 124, 242, 0.792);
  box-shadow: 0px 0px 8px #cbcdcf70;
  z-index: 999;
}

/* Responsive */

@media only screen and (max-width: 992px) {
  .logo span {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo span {
    font-size: 0.865rem;
  }
}

@media (max-width: 1040px) {
  .header {
    padding: 12px 20px;
  }

  .header .navigation {
    display: none;
  }

  .header .navigation.show__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  .header .navigation .nav_item a {
    color: #222;
    font-size: 1.2rem;
    margin: 20px;
  }

  .header .navigation .nav_item a::before {
    background: #0662bec4;
    height: 5px;
  }

  .menu-btn {
    background: url("../../assets/images/menu.png") no-repeat;
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .header .navigation.show__menu .menu {
    background: #fff;
    width: 500px;
    max-width: 500px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
  }

  .menu-btn.show__menu {
    z-index: 999;
    background: url("../../assets/images/close.png") no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}
